.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contents {
    display: flex;
    flex-direction: column;
    .wrap {
      padding-top: 60px;
      .title {
        padding: 0px 0px 30px 10px;
        font-size: 26px;
        font-weight: 700;
      }
      .productsList {
        padding-bottom: 30px;
      }
    }
  }
}
