@import '../../../Styles/common.scss';
.slideBanner {
  display: flex;
  width: 100%;
  background-color: $themeBlue;

  .images {
    position: relative;
    padding-top: 200px;
    margin-bottom: 500px;
    .item {
      position: absolute;
      top: 0px;
      width: 100%;
      object-fit: cover;
      height: 500px;
      &.showing {
        // z-index: 1;
      }
    }
  }
}
